@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "Saiyan";
  src: url("../../public/fonts/Saiyan-Sans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 900;
  font-style: normal;
}
.bangers-regular1 {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Saiyan";
}
.pump-icon {
  display: inline-block !important;
  flex-shrink: 0 !important;
  width: 40px;
  height: auto;
}
